/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet & mobile */
@media (max-width: 991.98px) {
  /* an navbar */
  .navbar {
    display: none;
  }
  /* chuyen logo vao giua */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /* can lai vi tri menu icon */
  .menu-header__icon {
    width: 24px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    top: 38px;
    left: 28px;
  }
  /* overlay */
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* binh thuong an overlay di */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* kiem tra checkbox duoc check thi hien overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* menu drawer */
  .menu-drawer {
    position: fixed;
    background-color: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* neu checkbox duoc check thi hien lai menu */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* menu top */
  .close__menu {
    width: 24px;
    color: #fff;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
    font-size: 2rem;
  }

  .navbar__link:hover {
    background-color: #00ffff37;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* mobile */
@media (max-width: 167.98px) {
}

/* tam an phan khong lien quan */
.hero,
.footer,
main {
  display: none;
}
